ISA95-JOBCONTROL/ModelDesign/Opc.Ua.ISA95-JOBCONTROL.Model/Prefix2.Types.xsd

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ua="http://opcfoundation.org/UA/2008/02/Types.xsd"
  xmlns:tns="http://opcfoundation.org/UA/ISA95-JOBCONTROL"
  targetNamespace="http://opcfoundation.org/UA/ISA95-JOBCONTROL"
  elementFormDefault="qualified"
>
  <xs:import namespace="http://opcfoundation.org/UA/" />

  <xs:simpleType  name="ISA95JobOrderCommandEnum">
    <xs:annotation>
      <xs:documentation>Describes the possible job order commands.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined_0" />
      <xs:enumeration value="Store_1" />
      <xs:enumeration value="StoreAndStart_2" />
      <xs:enumeration value="Start_3" />
      <xs:enumeration value="Update_4" />
      <xs:enumeration value="Stop_5" />
      <xs:enumeration value="Cancel_6" />
      <xs:enumeration value="Clear_7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ISA95JobOrderCommandEnum" type="tns:ISA95JobOrderCommandEnum" />

  <xs:complexType name="ListOfISA95JobOrderCommandEnum">
    <xs:sequence>
      <xs:element name="ISA95JobOrderCommandEnum" type="tns:ISA95JobOrderCommandEnum" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfISA95JobOrderCommandEnum" type="tns:ListOfISA95JobOrderCommandEnum" nillable="true"></xs:element>

  <xs:simpleType  name="ISA95JobOrderStateEnum">
    <xs:annotation>
      <xs:documentation>Describes the defined job statuses.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined_0" />
      <xs:enumeration value="Waiting_1" />
      <xs:enumeration value="Ready_2" />
      <xs:enumeration value="Loaded_3" />
      <xs:enumeration value="Running_4" />
      <xs:enumeration value="Completed_5" />
      <xs:enumeration value="Aborted_6" />
      <xs:enumeration value="Held_7" />
      <xs:enumeration value="Suspended_8" />
      <xs:enumeration value="Closed_9" />
      <xs:enumeration value="Error_10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ISA95JobOrderStateEnum" type="tns:ISA95JobOrderStateEnum" />

  <xs:complexType name="ListOfISA95JobOrderStateEnum">
    <xs:sequence>
      <xs:element name="ISA95JobOrderStateEnum" type="tns:ISA95JobOrderStateEnum" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfISA95JobOrderStateEnum" type="tns:ListOfISA95JobOrderStateEnum" nillable="true"></xs:element>

  <xs:simpleType  name="ISA95ReturnEnum">
    <xs:annotation>
      <xs:documentation>It describes the possible return status from a Method call</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined_0" />
      <xs:enumeration value="NoError_1" />
      <xs:enumeration value="InvalidJobOrderID_2" />
      <xs:enumeration value="UnableToAcceptJobOrder_3" />
      <xs:enumeration value="UnableToAcceptJobOrderCommand_4" />
      <xs:enumeration value="UnableToReturnJobResponse_5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ISA95ReturnEnum" type="tns:ISA95ReturnEnum" />

  <xs:complexType name="ListOfISA95ReturnEnum">
    <xs:sequence>
      <xs:element name="ISA95ReturnEnum" type="tns:ISA95ReturnEnum" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfISA95ReturnEnum" type="tns:ListOfISA95ReturnEnum" nillable="true"></xs:element>

  <xs:complexType name="ISA95EquipmentDataType">
    <xs:annotation>
      <xs:documentation>Defines an equipment resource or a piece of equipment, a quantity, an optional description, and an optional collection of properties.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ID" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Description" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="EquipmentUse" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Quantity" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="UoM" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Properties" type="tns:ListOfISA95PropertyDataType" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ISA95EquipmentDataType" type="tns:ISA95EquipmentDataType" />

  <xs:complexType name="ListOfISA95EquipmentDataType">
    <xs:sequence>
      <xs:element name="ISA95EquipmentDataType" type="tns:ISA95EquipmentDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfISA95EquipmentDataType" type="tns:ListOfISA95EquipmentDataType" nillable="true"></xs:element>

  <xs:complexType name="ISA95JobOrderDataType">
    <xs:annotation>
      <xs:documentation>Defines the information needed to schedule and execute a job.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ID" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Description" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="WorkMasterID" type="tns:ListOfISA95WorkMasterDataType" minOccurs="0" nillable="true" />
      <xs:element name="StartTime" type="xs:dateTime" minOccurs="0" />
      <xs:element name="EndTime" type="xs:dateTime" minOccurs="0" />
      <xs:element name="Priority" type="xs:short" minOccurs="0" />
      <xs:element name="JobOrderParameters" type="tns:ListOfISA95ParameterDataType" minOccurs="0" nillable="true" />
      <xs:element name="PersonnelRequirements" type="tns:ListOfISA95PersonnelDataType" minOccurs="0" nillable="true" />
      <xs:element name="EquipmentRequirements" type="tns:ListOfISA95EquipmentDataType" minOccurs="0" nillable="true" />
      <xs:element name="PhysicalAssetRequirements" type="tns:ListOfISA95PhysicalAssetDataType" minOccurs="0" nillable="true" />
      <xs:element name="MaterialRequirements" type="tns:ListOfISA95MaterialDataType" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ISA95JobOrderDataType" type="tns:ISA95JobOrderDataType" />

  <xs:complexType name="ListOfISA95JobOrderDataType">
    <xs:sequence>
      <xs:element name="ISA95JobOrderDataType" type="tns:ISA95JobOrderDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfISA95JobOrderDataType" type="tns:ListOfISA95JobOrderDataType" nillable="true"></xs:element>

  <xs:complexType name="ISA95JobResponseDataType">
    <xs:annotation>
      <xs:documentation>defines the information needed to schedule and execute a job.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ID" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Description" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="JobOrderID" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="StartTime" type="xs:dateTime" minOccurs="0" />
      <xs:element name="EndTime" type="xs:dateTime" minOccurs="0" />
      <xs:element name="JobState" type="tns:ISA95JobOrderStateEnum" minOccurs="0" />
      <xs:element name="JobResponseData" type="tns:ListOfISA95ParameterDataType" minOccurs="0" nillable="true" />
      <xs:element name="PersonnelActuals" type="tns:ListOfISA95PersonnelDataType" minOccurs="0" nillable="true" />
      <xs:element name="EquipmentActuals" type="tns:ListOfISA95EquipmentDataType" minOccurs="0" nillable="true" />
      <xs:element name="PhysicalAssetActuals" type="tns:ListOfISA95PhysicalAssetDataType" minOccurs="0" nillable="true" />
      <xs:element name="MaterialActuals" type="tns:ListOfISA95MaterialDataType" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ISA95JobResponseDataType" type="tns:ISA95JobResponseDataType" />

  <xs:complexType name="ListOfISA95JobResponseDataType">
    <xs:sequence>
      <xs:element name="ISA95JobResponseDataType" type="tns:ISA95JobResponseDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfISA95JobResponseDataType" type="tns:ListOfISA95JobResponseDataType" nillable="true"></xs:element>

  <xs:complexType name="ISA95MaterialDataType">
    <xs:annotation>
      <xs:documentation>defines a material resource, a quantity, an optional description, and an optional collection of properties.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MaterialClassID" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="MaterialDefinitionID" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="MaterialLotID" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="MaterialSublotID" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Description" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="MaterialUse" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Quantity" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="UoM" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Properties" type="tns:ListOfISA95PropertyDataType" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ISA95MaterialDataType" type="tns:ISA95MaterialDataType" />

  <xs:complexType name="ListOfISA95MaterialDataType">
    <xs:sequence>
      <xs:element name="ISA95MaterialDataType" type="tns:ISA95MaterialDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfISA95MaterialDataType" type="tns:ListOfISA95MaterialDataType" nillable="true"></xs:element>

  <xs:complexType name="ISA95ParameterDataType">
    <xs:annotation>
      <xs:documentation>A subtype of OPC UA Structure that defines three linked data items: the ID, which is a unique identifier for a property, the value, which is the data that is identified, and an optional description of the parameter.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ID" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Value" type="ua:Variant" minOccurs="0" />
      <xs:element name="Description" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="UoM" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Subparameters" type="tns:ListOfISA95ParameterDataType" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ISA95ParameterDataType" type="tns:ISA95ParameterDataType" />

  <xs:complexType name="ListOfISA95ParameterDataType">
    <xs:sequence>
      <xs:element name="ISA95ParameterDataType" type="tns:ISA95ParameterDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfISA95ParameterDataType" type="tns:ListOfISA95ParameterDataType" nillable="true"></xs:element>

  <xs:complexType name="ISA95PersonnelDataType">
    <xs:annotation>
      <xs:documentation>defines a personnel resource or a person, a quantity, an optional description, and an optional collection of properties.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ID" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Description" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="PersonnelUse" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Quantity" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="UoM" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Properties" type="tns:ListOfISA95PropertyDataType" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ISA95PersonnelDataType" type="tns:ISA95PersonnelDataType" />

  <xs:complexType name="ListOfISA95PersonnelDataType">
    <xs:sequence>
      <xs:element name="ISA95PersonnelDataType" type="tns:ISA95PersonnelDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfISA95PersonnelDataType" type="tns:ListOfISA95PersonnelDataType" nillable="true"></xs:element>

  <xs:complexType name="ISA95PhysicalAssetDataType">
    <xs:annotation>
      <xs:documentation>defines a physical asset, a quantity, an optional description, and an optional collection of properties.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ID" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Description" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="PhysicalAssetUse" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Quantity" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="UoM" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Properties" type="tns:ListOfISA95PropertyDataType" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ISA95PhysicalAssetDataType" type="tns:ISA95PhysicalAssetDataType" />

  <xs:complexType name="ListOfISA95PhysicalAssetDataType">
    <xs:sequence>
      <xs:element name="ISA95PhysicalAssetDataType" type="tns:ISA95PhysicalAssetDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfISA95PhysicalAssetDataType" type="tns:ListOfISA95PhysicalAssetDataType" nillable="true"></xs:element>

  <xs:complexType name="ISA95PropertyDataType">
    <xs:annotation>
      <xs:documentation>A subtype of OPC UA Structure that defines two linked data items: an ID, which is a unique identifier for a property within the scope of the associated resource, and the value, which is the data for the property.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ID" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Value" type="ua:Variant" minOccurs="0" />
      <xs:element name="Description" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="UoM" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Subproperties" type="tns:ListOfISA95PropertyDataType" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ISA95PropertyDataType" type="tns:ISA95PropertyDataType" />

  <xs:complexType name="ListOfISA95PropertyDataType">
    <xs:sequence>
      <xs:element name="ISA95PropertyDataType" type="tns:ISA95PropertyDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfISA95PropertyDataType" type="tns:ListOfISA95PropertyDataType" nillable="true"></xs:element>

  <xs:complexType name="ISA95WorkMasterDataType">
    <xs:annotation>
      <xs:documentation>Defines a Work Master ID and the defined parameters for the Work Master.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ID" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Description" type="xs:string" minOccurs="0" nillable="true" />
      <xs:element name="Parameters" type="tns:ListOfISA95ParameterDataType" minOccurs="0" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ISA95WorkMasterDataType" type="tns:ISA95WorkMasterDataType" />

  <xs:complexType name="ListOfISA95WorkMasterDataType">
    <xs:sequence>
      <xs:element name="ISA95WorkMasterDataType" type="tns:ISA95WorkMasterDataType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOfISA95WorkMasterDataType" type="tns:ListOfISA95WorkMasterDataType" nillable="true"></xs:element>

</xs:schema>